<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://archive.org/download/YouTube_20170703_1541/YouTube%2B%2B.ipa</string>
        </dict>
        <dict>
          <key>kind</key>
          <string>display-image</string>
          <key>url</key>
          <string>https://c.top4top.net/p_550w44hd1.jpg</string>
        </dict>
        <dict>
          <key>kind</key>
          <string>full-size-image</string>
          <key>url</key>
          <string>https://c.top4top.net/p_550w44hd1.jpg</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
       <key>bundle-identifier</key>
<string>com.google.ios.youtube</string>
<key>bundle-version</key>
<string>11.17.8</string>
<key>kind</key>
<string>software</string>
<key>title</key>
        <string>youtube ++ اساسي احذف الرسمي من فريق متجر 6store </string>
      </dict>
    </dict>
  </array>
</dict>
</plist>